.auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__error {
    font-size: 0.625rem;
    color: #E57373;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__actions {
    padding-top: 1rem;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
